

{% extends 'bases.html' %}
{% load static %}
<title>home</title>
{% block content %}


<div>
    <div class="col-md-12 p-3 bg-img">
        <div class="blow">
            <!-- <img src="styles/img/1.jpg" alt=""> -->
        </div>
        <div class="containner p-3">
            <div class="p-3 col-md-12 bg-dark">
                <h3 class="text-light text-capitalize text-center">
                    Send Message
                </h3>
                <div class="col-md-12">
                    <div class="col-md-12">
                        {% for message in message %}
                        <div class="col-md-12 text-left">
                            <div class="outline-light">
                                <i class="fa fa-envelope fa-1x text-light text-left"> Name: {{message.name}}, Time: {{message.time}}</i><br>
                                <span class="text-warning">{{message.time}}</span><br>
                                <p class="text-left text-light">
                                    {{message.message}}
                                </p>
                                {% if messag.picture %}
                                <img src="{{message.picture.url}}" frameborder="0"></img>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if request.user.is_superuser %}

                    {% else %}
                    <div class="col-md-12 withdraw text">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-12 text-light">
                                <div class="col-md-8 p-3">
                                    <input type="text" placeholder="Message" name="message" class="text-light form-control">
                                </div>
                                <div class="col-md-3 text-left">
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
